---
---

@import "minima";

/* found in _/sass */
@import "animations";
@import "header";
@import "content";
@import "footer";

body{
  background-image: linear-gradient(to right top, #d16ba5, #f47487, #ff8d67, #f3ae4f, #d2d153, #b6e16a, #96f089, #6dfcaf, #5ffdc3, #57fdd4, #57fce4, #5ffbf1);
}
a{
  &:focus,
  &:hover{
    transition: all 126ms ease-out;
    outline: none;
    text-decoration: underline;
  }
}

li.task-list-item{
  list-style-type: none;
}
li.task-list-item > input{
  margin-left: -1.8em;
}

